<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/api/sessions/login">Iniciar Sesión</a></li>
                <li><a href="/api/sessions/register">Registrarse</a></li>
                <li><a href="/api/sessions/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} <!-- Este es el lugar donde se renderizan las vistas específicas -->
    </main>

    <footer>
        <p>&copy; {{year}}GONZAPP. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
